@import "bootstrap/dist/css/bootstrap.min.css";

@font-face {
  font-family: 'body';
  src: url('./assets/Fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'heading';
  src: url('./assets/Fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-light-green: #9dd3af;
  --color-primary: #3cb371;
  --color-mid-green: #00a859;
  --color-dark-green: #0b6e45;
}

/* Global styles */
body {
  font-family: "body", sans-serif;
  color: #222;
  background-color: #f9f9f9;
}

.navbar {
  background-color: var(--color-green);
}

.navbar-brand {
  font-size: 1.5rem;
}

.btn-primary {
  background-color: var(--color-green);
  border-color: var(--color-green);
}

.btn-primary:hover {
  background-color: var(--color-strong);
  border-color: var(--color-strong);
}

.btn-outline-light:hover {
  background-color: var(--color-light);
  color: #0b6e45;
}

footer {
  background-color: var(--color-dark);
  color: #fff;
}

footer a {
  --color-primary: #3cb371;
}

footer a:hover {
  color: var(--color-light);
  text-decoration: none;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.section-bg .text-green {
  color: var(--color-primary) !important;
}

.btn-gradient {
  background: linear-gradient(90deg, var(--color-primary), #ff4d4d);
  border: none;
  color: white !important;
  transition: 0.3s;
}

.btn-gradient:hover {
  opacity: 0.9;
}

.section-bg {
  background: linear-gradient(180deg, #ffffff, #f6fdf9);
}

.section-bg-dark {
  background: linear-gradient(180deg, var(--color-dark-green), #064d2b);
}

.card-feature {
  border: 1px solid rgba(0, 0, 0, 0.08);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card-feature:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

/* .highlight-obeeoma{
  color: "#3CB371;

} */

.text-green {
  color: var(--color-primary) !important;
}

.hover-shadow {
  transition: all 0.3s ease-in-out;
}
.hover-shadow:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  transform: translateY(-6px);
}
